*{
    font-family: 'Product Sans';
}
body{
    min-height: 2000px;

}
header .navbar-brand {
    font-family: 'Poppins';
    font-size: 50px;
    font-weight: 700;
}
h2{
    font-family: 'Playpen Sans', cursive;
}

.jumbotron {
    padding-top: 5em;
    background-color: #caf0f8;
}

.jumbotron .container h1{
    font-size: 80px;
    font-family: 'Playpen Sans', cursive;
}



#about {
    background-color: #fff ;
}
.row h2{
    padding: 1em 1em;
}

.row .col{
    padding-bottom: 2em;
}

#resume h2 {
    padding: 1em 2em;
}

#resume .row {
    padding-left: 2em;
    padding-right: 2em;
}



#gallery h2{
    padding: 1em 2em;
}
#gallery .container {
    padding: 2em 1em
}

.carousel-inner {
    border-radius: 40px;
}

.fa-brands {
    width: 300%;
}

.footer h2{
    padding: 1em 1em;
}

